.mainDivTest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.superInput {
    border: 1px solid blue;
    width: 200px;
    height: 30px;
}
.errorInput {
    border: 1px solid red;
    margin-top: 30px;
    width: 200px;
    height: 30px;
}
.error {
      color: red;
      margin-top: 20px;
      margin-bottom: 20px;
}
.checkbox {
    width: 30px;
}
.checkboxStyle {
    display: flex;  
}
.default {
    background-color: darkorange;
    width: 80px;
}
.red {
    background: red;
    width: 80px;
    border-style: none;
}