.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.mainContainer::after {
    position: absolute;
    content: '';
    background-image: url('../assets/recoverBckg.jpg');
    width: 1100px;
    height: 800px;
    z-index: -1;
}
.recoverForm {
    margin-left: 400px;
    box-shadow: 0px 0px 8px 0px  rgb(184, 184, 184);
    width: 400px;
    height: 400px;
    font-size: 20px;
    background-color: white;
}
.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px; 
    color: rgb(43, 40, 40);
}
.recoverInput {
    width: 300px;
    height: 40px;
    margin-top: 50px;
}
.recoverPasswordContainer {
    margin-top: 20px;
}
.recoverSpan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;  
}
.enterEmailSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.buttonReset {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 227, 68);
}
.errorCheckStyle {
    color: red;
    font-size: 14px;
}
.loadingText {
    color: red;
    font-size: 20px;
}