.mainDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    font-size: 20px;
    color: rgb(43, 40, 40);
    font-family: 'Times New Roman', Times, serif;  
}
.linksContainer {
    display: flex;
}
.login {
    margin-right: 50px;
    color: blue;
}

.signup {
    margin-right: 150px;
}
a {
    text-decoration: none;
    color: black;
}