.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.mainContainer::after {
    position: absolute;
    content: '';
    background-image: url('../assets/image.jpg');
    width: 1200px;
    height: 700px;
    z-index: -1;
}

.loginForm {
    margin-left: 400px;
    box-shadow: 0px 0px 8px 0px  rgb(184, 184, 184);
    width: 500px;
    height: 500px;
    font-size: 20px;
    background-color: white;
}
.dataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px; 
    color: rgb(43, 40, 40);
}
.emailInput, .passwordInput {
    width: 300px;
    height: 40px;
    margin-top: 10px;
}
.emailContainer, .passwordContainer, .rememberMeContainer {
    margin-top: 20px;
}
.spanDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
.loginSpan {
    border-bottom: 5px solid rgb(255, 227, 68);
}
.buttonContainer{
    display: flex;
    justify-content: center;
  }

.loadingStatus {
    display: flex;
    justify-content: center;
    color:blue;
}
.failedStatus {
    display: flex;
    justify-content: center;
    color:red;
}
.buttonLogin {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 227, 68);
}
.errorCheckStyle {
    color: red;
    font-size: 14px;
}