.mainDiv {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;  
}
.mainDiv a {
    color: rgb(71, 70, 70);
}
