.getLostSpan {
    font-size: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.mainDiv::after {
    position: absolute;
    content: '';
    background-image: url('../assets/404page.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    z-index: -1;
}