.packsMainDiv {
    height: 100vh;
    color: rgb(71, 70, 70);
    font-size: 18px;
}
.packsCheckbox, .packsTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.packsAddButton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(253, 242, 181);
    font-family: 'Times New Roman', Times, serif;  
    font-size: 16px;
    color: rgb(43, 40, 40);
    margin-top: 15px;
    margin-left: 50px;
}