.mainSignupContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    height: 100vh;
}
.mainSignupContainer::after {
    position: absolute;
    content: '';
    background-image: url('../assets/image.jpg');
    width: 1200px;
    height: 700px;
    z-index: -1;
}
.signupForm {
    width: 500px;
    height: 600px;
    font-size: 20px;
    color: rgb(43, 40, 40);
    margin-left: 400px;
    box-shadow: 0px 0px 8px 0px  rgb(184, 184, 184);
    font-size: 20px;
    background-color: white;
}
.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.emailContainer, .passwordContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.emailInput, .passwordInput {
    width: 430px;
    height: 40px;
}
.spanDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
.signupSpan {
    /* position: relative; */
    border-bottom: 5px solid rgb(255, 227, 68);
}
.signupSpan::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: rgb(255, 227, 68);
    margin-top: 15px;
    margin-right: 20px;
    z-index: -1;
}
.nameInput, .surnameInput {
    width: 200px;
    height: 40px;
}
.nameInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.firstNameContainer {
    padding-right: 20px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.buttonSignup {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 227, 68);
}